.footer {
    background-color: #000;
    padding-top: 20px;
    text-transform: capitalize;
    overflow: hidden;
    .content-footer {
        position: relative;
        @include breakpoint($breakpoint-lg) {
            display: flex;
        }
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            border-bottom: 1px solid $color-secondary;
            bottom: -10px;
        }
        .block-footer {
            width: calc(100% - 30px);
            max-width: 500px;
            height: 100%;
            margin: 40px auto 0;   
            @include breakpoint($breakpoint-sm) {
                max-width: 400px;
                margin: 40px 12% 0;
            }
            @include breakpoint($breakpoint-md) {
                max-width: 500px;
                margin: 40px 16% 0;
            }
            @include breakpoint($breakpoint-lg) {
                width: 32%;
                margin: 40px 0 0;
            }
        }
        .block-about-us {
            .about-us-title {
                margin: 30px 0 20px;
            }
            .about-us-text {
                text-transform: initial;
                line-height: 1.5;
                margin: 30px 0;
            }
        }    
        .block-quick-links {
            margin-top: 40px;
            @include breakpoint($breakpoint-lg) {
                width: 32%;
                margin: 40px 0;
                padding-left: 10%;
            }
            .quick-title {
            margin-bottom: 30px;
            }
            .quick-list {
                margin:0 10px;
                list-style: none;
                line-height: 2;
                .quick-item {
                    width: fit-content;
                    color: darken($color-scissors, 20);
                    transition: .3s;
                    cursor: pointer;
                    &:hover {
                        color: #fff;
                    }
                }
            }
        }   
        .block-newsletter {
            padding-right: 5px;
            width: calc(100% - 30px);
            height: 100%;
            margin: 40px auto 0; 
            overflow: hidden;
            justify-content: space-between;
            box-sizing: border-box;
            @include breakpoint($breakpoint-sm) {
                width:75% ;    
            }
            @include breakpoint($breakpoint-lg) {
                width: 32%;
            }
            .newsletter-title {
                margin-bottom: 30px;
            }
            .content-newsletter {
                display: flex;
                justify-content: space-between;
                padding-bottom: 70px;
                margin-bottom: 30px;
                .email {
                    width: 75%;
                    max-width: 330px;
                    padding: 15px;
                    border: none;
                    border-radius: 5px;
                    margin-right: 5px;
                    @include breakpoint($breakpoint-lg) {
                        width: 60%;
                    }
                }
            }    
        }
    }  
    .copyright {
        width: calc(100% - 30px); 
        text-align: center;
        margin: 40px auto 0;
        padding-bottom: 60px;
        .heart {
            color: $color-primary;
            font-size: 25px;
        }
        .colorlib {
            color: $color-secondary;
        }   
    }    
}   