html,
body,
img,
h1,
h2,
h6,
p,
li,
ol {
    margin: 0;
    padding: 0;
    color: #ffffff;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: roboto;
}
a {
    text-decoration: none;
    color: #ffffff;
    -webkit-tap-highlight-color: transparent;
    &:hover {
        cursor: pointer;
    }
}
.container {
    max-width: 530px;
    margin: auto;
    padding: 0 15px;
    @include breakpoint($breakpoint-md) {
        max-width: 768px;
        margin: auto;
    }
    @include breakpoint($breakpoint-lg) {
        max-width: 994px;
        margin: auto;
    }
    @include breakpoint($breakpoint-xl) {
        max-width: 1100px;
        margin: auto;
    }
}
.content-text {
    @include content-text;
    @include breakpoint($breakpoint-md) {
        max-width: 500px;
    }
    @include breakpoint($breakpoint-lg) {
        max-width: 630px;
    }
}
.title {
    @include title;
    @include breakpoint($breakpoint-lg) {
        font-size: 45px;
    }
}
.title-scissors {
    background: url() no-repeat;
    margin: auto;
    height: 30px;
    width: 30px;
    
}
.subtitle {
    @include subtitle;
}
.text-primary {
    color: $color-primary;
}
.text-secondary{
    color: $color-secondary
}
.btn {
    -webkit-tap-highlight-color: transparent;
    @include button;
    &:hover {
        cursor: pointer;
        background-color: darken($color-primary, 10);
    }
    @include breakpoint($breakpoint-lg) {
        &:active {
            cursor: pointer;
            background-color: darken($color-primary, 15);
            box-shadow: 0 0 0 4px rgba(220, 53, 69, .5);
            text-decoration: none;
            outline: none;
            border: none;
        }
    }
}
.img {
    width: 100%;
    height: auto;
    background-size: contain;
}
.scissors {
    width: 25px;
    height: 25px;
    font-size: 22px;
    margin: 0 auto 20px;
}
.scissors-red {
    color: $color-primary;
}
.scissors-gray {
    color: $color-secondary;
}