@mixin breakpoint($width) {
    @media (min-width: $width) {
        @content;
    }
}
@mixin up-to-breakpoint($width) {
    @media (max-width: $width) {
        @content;
    }
}
@mixin subtitle {
    line-height: 1.7;
    font-size: 19px;
    margin-bottom: 30px;
}
@mixin button {
    outline: none;
    background-color: $color-primary;
    padding: 12px 20px;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: none;
    border-radius: 20px;
    transition: .3s;
}
@mixin content-text {
    max-width: 410px;
    margin: auto;
    padding: 0 3%;
    text-align: center;
}
@mixin title {
    font-size: 30px;
    margin-bottom: 10px;
    padding-top: 60px;
    text-transform: capitalize;    
}
@mixin footer-block {
    width: 100%;
    height: auto;
}