.section-intro {
    height: 100vh;
    min-height: 600px;
    width: 100%;
    background: transparent;
    .container-intro {
        height: 100%;
        display: flex;
        position: relative;
        align-items: center;
    }
    .header {
        background-color: $background-darken;;
        width: 100%; 
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
        box-sizing: border-box;
        @include breakpoint($breakpoint-lg) {
            justify-content: space-around;
            padding: 30px 0;
        }
        .logo {
            font-size: 25px;
            text-transform: uppercase;
        }
        .burger {
            z-index: 20;
            &-line {
                width: 20px;
                height: 3px;
                background-color: #fff;
                margin: 3px 0;
                transition: .3s;  
                @include breakpoint($breakpoint-lg) {
                    display: none;
                }
            }
            &.active {
                position: fixed;
                top: 35px;
                right: 32px;
                .burger-line {
                    transition: .3s;
                    &:first-child {
                        transform: translateY(6px) rotate(45deg);
                    }
                    &:nth-child(2) {
                        visibility: hidden;
                        transition: .1s;
                    }
                    &:last-child {
                        transform: translateY(-6px) rotate(-45deg);
                    }
                }                    
            } 
        }
        .nav-list { 
            display: none; 
            @include breakpoint($breakpoint-lg) {
                display: flex;
                list-style: none;
                text-transform: capitalize;
                outline: none;
                &-item {
                    margin: 0 auto;
                    @include breakpoint($breakpoint-lg) {
                        margin-left: 40px;
                    }
                    li:hover {
                        color: $color-primary;
                    }
                }
            }
            &.active {
                @include up-to-breakpoint($breakpoint-lg) {
                    width: 100%;
                    height: 100%;
                    display: block;
                    position: fixed;
                    top: 0px;
                    left: 0;
                    right: 0; 
                    z-index: 10;
                    background: #000; 
                    margin: 0;
                    padding: 55px 0 0;
                    font-size: 25px;
                    text-transform: capitalize;
                    list-style: none;
                    line-height: 13vh;
                    text-align: center;
                    opacity: .97;
                }       
            }
        }    
    }
}