.section-our {
    background-color: $color-background;
    padding-bottom: 60px;  
        .content-clients {
        @include breakpoint($breakpoint-lg) {
            display: flex;
            justify-content: space-between;
        }
        .client {
            width: calc(100% - 20px);
            max-width: 450px;
            height: auto;
            background-color: #fff;
            color: $color-secondary;
            margin: 0 auto 20px;
            padding: 30px 20px;
            box-sizing: border-box;
            @include breakpoint($breakpoint-md) {
                max-width: 630px;
            }
            @include breakpoint($breakpoint-lg) {
                width: 32%;
            }
            .personal-data {
                display: flex;
                align-items: center;
                .foto {
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    margin: 0 20px 0 0;
                }
                .name {
                    font-size: 16px;
                    text-transform: capitalize;
                }
            }
            .opinion {
                margin-top: 20px;
                font-size: 20px;
                line-height: 1.5;
            }
        }
    }
    
}