.section-services {
    background-color: $color-background;
    padding-bottom: 50px;
    .slider-buttons {
        width: 240px;
        display: flex;
        justify-content: space-around;
        margin: auto;
        padding-bottom: 50px;
    }
    .container-hair {
        @include breakpoint($breakpoint-sm) {
            display: flex;
        }
        .hair {
            background-color: #fff;
            border-radius: 4px;
            border: 1px solid $color-scissors;
            position: relative;
            justify-content: center;
            margin: 0 30px;
            &.slick-slide {
                width: 90vw;
                max-width: 525px;
                outline: none;
                @include breakpoint($breakpoint-sm) {
                    width: 75vw;
                    margin: 0 30px;
                }
                @include breakpoint($breakpoint-md) {
                    width: 46vw;
                    max-width: 370px;
                    margin: 0 10px;
                }
                @include breakpoint($breakpoint-lg) {
                    width: 318px;
                }
                @include breakpoint($breakpoint-xl) {
                    width: 260px;
                }
            }
            .content-price {
                padding: 0 30px;
                color: $color-primary;
                text-transform: capitalize;
                .haircut-title {
                    font-size: 27px; 
                    margin: 20px 0;
                    letter-spacing: 1px;   
                    position: relative;
                    &::before {
                        content: "";
                        width: 10%;
                        position: absolute;
                        border-bottom: 2px solid $color-primary;
                        bottom: -20px;
                    } 
                }
                .haircut-pricing {
                    list-style: none;
                    padding: 30px 0;
                    .hair-item {
                        color: $color-secondary;
                        line-height: 35px;
                        display: flex;
                        justify-content: space-between;
                        &-service {
                            max-width: 200px;
                        }
                    }
                }
            }  
        }
    }
}