.section-blog {
    margin-bottom: 60px;
    .content-blog {
        @include breakpoint($breakpoint-lg){
            display: flex;
        }
        .blog {
            max-width: 530px;
            margin: auto;
            position: relative;
            overflow: hidden;
            @include breakpoint($breakpoint-lg) {
                width: 32%;
            }
            .img-zoom {
                @include breakpoint($breakpoint-lg) {
                    position: relative;
                    overflow: hidden;
                    max-height: 246px;
                    & img {
                        transition: .3s;
                        &:hover{
                            transform: scale(1.2);
                            background-color: $color-background;
                        }
                    }
                }
            }
            .content-text {
                text-align: left;
                .blog-title {
                    font-size: 20px;
                    margin: 20px 0;
                    color: #000000;
                    &:hover {
                        color: $color-primary;
                        cursor: pointer;
                    }
                }
                .date {
                    color: $color-scissors;
                    .nick {
                        text-transform: capitalize;
                        margin-left: 10px;
                        color: $color-primary;
                        &:hover {
                            color: darken($color-primary, 15);
                            cursor: pointer;
                        }
                    }
                }
                .blog-text {
                    margin: 20px 0;
                    color: $color-secondary; 
                }
            }
        }
    }
}