.section-quality {
    min-height: 600px;
    background: transparent;
    background-color: $background-darken;;
    .content-text {
        position: relative; 
        transform: translateY(calc(50% - 60px));
    }
}