.section-more {
    background: transparent;
    padding-bottom: 60px;
    background-color: $background-darken;;
    min-height: 500px;
    .content-text {
        position: relative;
    }
    .content-more {
        position: relative;
        @include breakpoint($breakpoint-md) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;   
        }
        .service {
            width: 70%;
            margin: auto;
            text-align: center;
            text-transform: capitalize;    
            @include breakpoint($breakpoint-md) {
                width: 46%;
                margin: 0;
            }
            @include breakpoint($breakpoint-lg) {
                width: 32%;
            }
            &-circle {
                height: 100px;
                width: 100px;
                margin: 40px auto 0;
                border-radius: 50%;
                background-color: $color-primary;
                text-align: center;
                transition: transform .4s linear;
                &:hover {
                    transform: rotate(360deg);
                }
                .icon {
                    font-size: 25px;
                    line-height: 100px;
                }
            }
            &-title {
                font-size: 22px;
                margin: 30px 0 20px;
            }
            &-subtitle {
                line-height: 1.5;
            }
        }
    }
}