.section-welcome {
    margin: 50px 0 120px;
    .container-welcome {
        .content-welcome {
            align-content: center;
            justify-content: space-between;
            position: relative;
            @include breakpoint($breakpoint-lg) {
                display: flex;
            } 
            .welcome-img {
                width: 100%;
                height: auto;                
                background-position: center;
                padding: 0 15px;
                box-sizing: border-box;
                @include breakpoint($breakpoint-md) {
                    margin: auto;
                    display: block;
                }
                @include breakpoint($breakpoint-lg) {
                    width: 50%;
                    margin: 0;
                    padding: 0;
                }
            }
            .welcome-circle {
                height: $circle-size;
                width: $circle-size;
                margin: auto;
                border-radius: 50%;
                background-color: $color-primary;
                transform: translateY(-40px);
                text-align: center;
                &-number {
                    font-size: 50px;
                    padding-top: 30px;
                }
                &-years {
                    font-size: 12px;
                }
                @include breakpoint($breakpoint-lg) {
                    left: calc(50% - 75px);
                    transform: translateY(0);
                    bottom: -75px;
                    position: absolute;    
                }
            }
            .welcome-text {
                @include content-text;
                .title-welcome {
                    padding-top: 0;    
                }
                @include breakpoint($breakpoint-lg) {
                    width: 50%;
                    margin: 0 0 0 auto;
                    padding-right: 0;
                }
            
            }
        }
    }
}