.section-styles {
    padding-bottom: 70px;
    .content-styles {
        @include breakpoint($breakpoint-lg) {
            display: flex;
        }
        .styles-hair-styles {
            max-width: 530px;
            margin: auto; 
            border: 1px solid $color-scissors;
            margin-bottom: 30px;
            @include breakpoint($breakpoint-lg) {
                width: 32%;
            }
            .styles-img {
                transition: .3s;
                &:hover {
                    cursor: pointer;
                    opacity: .8;
                }
            }
            .content-text {
                padding-left: 30px;
                text-align-last: left;
                .service {
                    font-size: 20px;
                    line-height: 50px;
                }
                .text-primary {
                    margin-bottom: 20px;
                }
            }
        }
    }
}