//RWD
$breakpoint-xs: 480px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

// COLORS
$color-primary: #dc3545;
$color-secondary: #364d59;
$color-background: #f6f5f5;
$color-scissors: #ccc; 
$background-darken: rgba(0, 0, 0, .5);


// SIZES
$circle-size: 150px;